repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: "3.0.3"
  hooks:
  - id: editorconfig-checker
    alias: ec
# TODO: Consider repointing this to the upstream version again when https://github.com/notken12/licensesnip/pull/10 is merged.
- repo: https://github.com/wbbradley/licensesnip
  rev: a1037505417d06a3d311ec3b2993205127ee9e03
  hooks:
    - id: licensesnip
      args: []
      pass_filenames: false
- repo: https://github.com/crate-ci/typos
  rev: typos-dict-v0.11.37
  hooks:
  - id: typos
    pass_filenames: false
- repo: https://github.com/EmbarkStudios/cargo-deny
  rev: 0.16.3
  hooks:
  - id: cargo-deny
- repo: https://github.com/DevinR528/cargo-sort
  rev: v1.1.0
  hooks:
  - id: cargo-sort
    args: ["--workspace"]
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo-fmt
    entry: cargo fmt
    args:
    - "--"
    - "--config"
    - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
    language: rust
    types: [rust]
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-test
    name: cargo-test
    entry: cargo test
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy-with-tests
    name: clippy-with-tests
    entry: cargo clippy
    args: ["--all-features", "--tests", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: clippy
    name: clippy
    entry: cargo clippy
    args: ["--all-features", "--", "-D", "warnings"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: cargo-doc
    name: cargo-doc
    entry: env RUSTDOCFLAGS="-D warnings" cargo doc
    args: ["--workspace", "--no-deps"]
    language: rust
    files: ^(site-builder/|Cargo\.(toml|lock)$)
    pass_filenames: false
  - id: prettier
    name: prettier
    entry: sh -c 'cd ts-sdk && bunx prettier --write "${@#ts-sdk/}"' --
    language: system
    types_or: [javascript, jsx, ts, tsx, css, scss, less, json, yaml, markdown, html]
    files: ^ts-sdk/
    pass_filenames: true
