# This section is considered when running `cargo deny check advisories`
# More documentation for the advisories section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/advisories/cfg.html
[advisories]
version = 2
ignore = [
    "RUSTSEC-2023-0071",
    # rust-yaml is not maintained, but is a dependency in many of our packages.
    "RUSTSEC-2024-0320",
    # proc-macro-error is not maintained, but is a dependency in many of our packages.
    "RUSTSEC-2024-0370",
    # allow unmaintained instant crate used in transitive dependencies (backoff, cached, fastrand, parking_lot_*)
    "RUSTSEC-2024-0384",
    # `derivative` is unmaintained.
    "RUSTSEC-2024-0388",
    # `paste` is unmaintained.
    "RUSTSEC-2024-0436",
    # Crash due to uncontrolled recursion in `protobuf` crate.
    "RUSTSEC-2024-0437",
    # `backoff` is unmaintained - no safe upgrade available
    "RUSTSEC-2025-0012",
    # fxhash not maintained
    "RUSTSEC-2025-0057",
]

# This section is considered when running `cargo deny check licenses`
# More documentation for the licenses section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/licenses/cfg.html
[licenses]
version = 2
# List of explicitly allowed licenses
# See https://spdx.org/licenses/ for list of possible licenses
# [possible values: any SPDX 3.11 short identifier (+ optional exception)].
allow = [
    "0BSD",
    "Apache-2.0 WITH LLVM-exception",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "CDLA-Permissive-2.0",
    "ISC",
    "LicenseRef-ring",
    "MIT",
    "MPL-2.0",
    "Unicode-3.0",
    "Unlicense",
    "Zlib",
]
# The confidence threshold for detecting a license from license text.
# The higher the value, the more closely the license text must be to the
# canonical license text of a valid SPDX license file.
# [possible values: any between 0.0 and 1.0].
confidence-threshold = 0.8

[[licenses.clarify]]
name = "ring"
expression = "LicenseRef-ring"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[licenses.private]
# If true, ignores workspace crates that aren't published, or are only
# published to private registries.
# To see how to mark a crate as unpublished (to the official registry),
# visit https://doc.rust-lang.org/cargo/reference/manifest.html#the-publish-field.
ignore = true

# This section is considered when running `cargo deny check bans`.
# More documentation about the 'bans' section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/bans/cfg.html
[bans]
# Lint level for when multiple versions of the same crate are detected
multiple-versions = "deny"
skip = [
    { name = "itertools", version = "<=12.1" },
    { name = "synstructure", version = "0.12.6" },
]
skip-tree = [
    # Mysten's libraries pull in several conflicting repo versions.
    # Sui's bin-version pulls in conflicting const-str versions.
    { name = "bin-version", depth = 1 },
    { name = "fastcrypto", depth = 4 },
    { name = "sui-sdk", depth = 6 },
    # Sui's test infrastructure has many version conflicts.
    { name = "test-cluster", depth = 8 },
    # Walrus's typed-store has dependency conflicts.
    { name = "typed-store", depth = 6 },
    # several crates depend on an older version of windows-sys.
    { name = "windows-sys", depth = 3, version = "0.48" },
    # Several crates depend on older windows versions.
    { name = "windows-targets", depth = 3, version = "0.42.2" },
]

# This section is considered when running `cargo deny check sources`.
# More documentation about the 'sources' section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/sources/cfg.html
[sources]
# Lint level for what to happen when a crate from a crate registry that is not
# in the allow list is encountered
unknown-registry = "deny"
# Lint level for what to happen when a crate from a git repository that is not
# in the allow list is encountered
unknown-git = "deny"
allow-git = [
    "https://github.com/bmwill/axum-server",
    "https://github.com/bmwill/openapiv3",
    "https://github.com/bmwill/tonic-rustls",
    "https://github.com/hyperium/tonic",
    "https://github.com/mystenmark/async-task",
    "https://github.com/wlmyng/jsonrpsee",
    "https://github.com/zhiburt/tabled",
]

[sources.allow-org]
# github.com organizations to allow git sources for
github = ["MystenLabs"]
