name: Portal Unit Tests

permissions:
  contents: read

on:
  push:
  pull_request:

jobs:
  common-lib-tests:
    name: Run common lib unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
      - name: Run Bun commands
        working-directory: portal/common
        run: |
          bun install
          bun run test

  server-tests:
    name: Run server unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
      - name: Run Bun commands
        working-directory: portal/server
        run: |
          bun install
          bun test
